
.main-nav{
    width: auto;
}
#section_header .haeder-fixed{
    background: #fff;
    padding: 10px 0px;
}
#section_header{
    background:#fff;
    padding: 10px 0px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.40);
}
.navbar{
 position:relative;
 margin-top: 10px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px!important;
}
.navbar-brand{
    font-size:40px;
    color: #222;
}
.navbar-brand img{
    height: 200%;
    width: auto;
    vertical-align: middle;
    max-width: 100%;
}
.navbar{
    margin-bottom:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    position:relative;
}
ul.navbar-nav a {
    font-weight: 400;
   /* font-size: 14px;*/
    font-size: 14px;
    padding: 15px 0 15px 30px;
    line-height: 40px;
    display: inline-block;
    font-family:font-family: 'Source Sans Pro', sans-serif;
    text-decoration:none; 
   /* text-transform: uppercase;*/
  
}
.nav > li > a:focus {
   background: transparent!important;
}
ul.navbar-nav > .active > a{
    -webkit-border-radius:2px;
       -moz-border-radius:2px;
            border-radius:2px;
}

.nav > li > a:hover{
    background: transparent;
}

.navbar-nav .dropdown-menu{
    left: 0;
    right: auto;
}

.dropdown-menu * {
    width: 100%;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.navbar-nav .dropdown-menu{
    background: #fff;
    border: 1;    
    min-width: 240px;
    display: block;
    opacity: 0;
    z-index:1;
    visibility:hidden;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: visibility 500ms, opacity 500ms, -webkit-transform 500ms cubic-bezier(.43, .26, .11, .99);
    -moz-transition: visibility 500ms, opacity 500ms, -moz-transform 500ms cubic-bezier(.43, .26, .11, .99);
    -o-transition: visibility 500ms, opacity 500ms, -o-transform 500ms cubic-bezier(.43, .26, .11, .99);
    -ms-transition: visibility 500ms, opacity 500ms, -ms-transform 500ms cubic-bezier(.43, .26, .11, .99);
    transition: visibility 500ms, opacity 500ms, transform 500ms cubic-bezier(.43, .26, .11, .99);
}

.navbar-nav .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility:visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
 }

 .navbar-nav .dropdown-backdrop {
    visibility: hidden;
}

.navbar-nav .dropdown-menu li{
    padding: 5px 20px 0;
}

.navbar-nav .dropdown-menu li:first-child{
    border-radius: 2px 2px 0 0;
}

.dropdown-menu li:last-child{
    border-radius: 0 0 2px 2px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 15px!important;
}
.dropdown-menu>li>a{
    font-size: 14px;
    padding: 5px 0;
    color: #fff;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, 
.dropdown-menu>li.active>a{
    background: none !important;
}
 

/*Menu style
==================================*/
#section_header .haeder-fixed,#section_header{
    background: #fff;
}
.divider{
    background: #0094D9;
    }
.navbar-brand:hover{
    color:#0094D9;
}
ul.navbar-nav > .active > a{
    color:#0094D9!important;
}
ul.navbar-nav > li > a:hover{
    color:#0094D9!important;
}
ul.navbar-nav > .active > a,ul.navbar-nav > li > a:hover,.carousel-caption h4{
    color:#0094D9!important;
}
.navbar-toggle .icon-bar{
    background:#000; 
}
.navbar-toggle {
    background: #ccc;
}

.navbar-brand span{
    color:#000;
}
ul.navbar-nav a {
    color: #3a3a3a;
}
ul.navbar-nav > .active> a:hover{
    color:#000 !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, 
.dropdown-menu>li.active>a{
    color: #0094D9 !important;
}

html,
body {
 height: 100%;
 /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
 min-height: 100%;
 height: auto;
 /* Negative indent footer by its height */
 margin: 0 auto -60px;
 /* Pad bottom by footer height */
 padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
 height: 60px;
 
}